body{
  background:#fff;
}
.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #333;background:##f5f5f5; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none;  color: #2c2c2d !important; background: #fff; }
        .nav-tabs > li > a::after { content: ""; background: #2c2c2d; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #2c2c2d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:15px;height: 100%;}
.nav-tabs > li  {width:20%; text-align:center;}
.card {background: #FFF none repeat scroll 0% 0%; margin-bottom: 30px; }

@media all and (max-width:724px){
.nav-tabs > li > a > span {display:none;} 
.nav-tabs > li > a {padding: 5px 5px;}
}

.padd5{
  padding:5px;
}


.sgrid6{
  float:left;
  width:49.5%;
  padding:10px;
}
.sgrid8{
  float:left;
  width:74.5%;
  padding:10px;
}

.fullwidget{
  padding:10px;
  /*text-align:center;*/
  margin:5px 0px 5px 0px;
}

.widget{
  margin:0px 5px 5px 0px;
  width:32%;
  float:left;
  padding:10px;
  text-align:center;
}

.grey{
  background:#ffce3a;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.125);
  color:#444;
}

.yellow{
  background:#ffc107;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.125);
  color:#fff;
}
.red{
  background:#f86c6b;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.125);
  color:#fff;
}
.skyblue{
  background:#31708f;
  border:1px solid #691306;
  color:#fff;

  border-radius: 0;
  border: 1px solid rgba(0,0,0,.125);
}
.green{
  background:#00a568;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.125);
  color:#fff;
}
.black{
  background:#17030f;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.125);
  color:#fff;
}

.blue{
  background:#383663;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.125);
  color:#fff;
}
#dbDetails{
    margin-top: 10px;
    border: 2px solid #d2d0d0;
    padding: 20px;
    height: 400px;
    position: relative;
    background: #e9ebee;
    width: 100%;
    overflow: scroll;
}
.nav-tabs>li>a {
    border-radius: 1px 1px 0 0;
}

.form-control{
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.progress {
    margin-bottom: 2px;
}

.bg-primary {
    background-color: #033C73 !important;
}

table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 98%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

